body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: white;
  padding: 0;
  margin: 0;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #bcd361;
}

.input-group {
  margin-top: 1rem;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  width: 400px;
}

.input-group label {
  display: block;
  color: #662d91;
  margin-bottom: 4px;
}

.input-group input {
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  padding: 0.75rem 1rem;
  color: black;
  width: 100%;
}

.input-group input:focus {
  border-color: rgba(167, 139, 250);
}

.sign {
  display: block;
  width: 100px;
  background-color: #662d91;
  padding: 0.75rem;
  text-align: center;
  color: white;
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
  font-size: 0.9rem;
  margin-top: 2rem;
  position: relative;
  left: 36%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sign:hover {
  scale: 1.1;
}

.error {
  border-color: red;
}

.error-text {
  color: red;
  font-size: 14px;
}

.loader {
  display: none;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  margin: 10px auto;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

button:disabled {
  background: gray;
}
