
li {
    padding: 0;
    margin: 8px 0px;
    line-height: 1.41;
    font-weight: 400;
    font-size: 18px;
    color: var(--primary);
}

.dark li {
    color: white;
}

.switcher__icon {
    position: fixed;
    width: 50px;
    height: 50px;
    background: var(--white);
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    z-index: 999;
    transition: all .3s;
    mix-blend-mode: exclusion
}

.switcher__icon i {
    color: var(--black)
}

.switcher__icon button {
    font-size: 24px;
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: all .3s
}

.switcher__icon button:hover {
    color: var(--white-2)
}

.switcher__icon button#switcher_open {
    animation: wcSpinner 5s infinite linear
}

.switcher__items {
    width: 280px;
    padding: 50px 30px;
    background: var(--black);
    position: fixed;
    right: -280px;
    top: 40%;
    z-index: 99;
    transform: translateY(-50%);
    font-family: var(--font_primary);
    transition: all .3s
}

.switcher__items .wc-col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px
}

.switcher__item {
    margin-bottom: 30px
}

@media only screen and (max-width: 1399px) {
    .switcher__item:nth-child(3) {
        display: none
    }
}

.switcher__item:last-child {
    margin-bottom: 0
}

.switcher__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: var(--white) !important;
    text-transform: capitalize;
    padding-bottom: 10px
}

.switcher__btn button {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    color: var(--white-2);
    background: #2b2b2f;
    border-radius: 4px;
    padding: 10px 15px;
    text-transform: capitalize
}

.switcher__btn button:hover,
.switcher__btn button.active {
    color: var(--white)
}

.switcher__btn select {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: var(--white-2);
    width: 100%;
    border: none;
    padding: 9px 10px;
    border-radius: 4px;
    background: #2b2b2f;
    text-transform: capitalize;
    outline: none;
    cursor: pointer
}

#switcher_close {
    display: none
}

.overlay-switcher-close {
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: none
}

.overlay-switcher-close.show-overlay {
    display: block
}

.offcanvas-3__area {
    background: var(--primary);
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 50px 50px 100px;
    z-index: 100000;
    overflow: hidden
}

@media(max-height: 500px) {
    .offcanvas-3__area {
        padding: 40px
    }
}

.offcanvas-3__inner {
    display: grid;
    grid-template-columns: 340px 1fr;
    height: 100%
}

@media only screen and (max-width: 991px) {
    .offcanvas-3__inner {
        grid-template-columns: 260px 1fr
    }
}

@media only screen and (max-width: 767px) {
    .offcanvas-3__inner {
        overflow-y: scroll;
        display: flex;
        flex-direction: column
    }
}

@media(max-height: 500px) {
    .offcanvas-3__inner {
        overflow-y: scroll
    }
}

.offcanvas-3__inner::-webkit-scrollbar {
    width: 0
}

.offcanvas-3__meta li {
    font-size: 18px;
    line-height: 20px;
    color: var(--white);
    text-transform: uppercase
}

.offcanvas-3__meta li:not(:last-child) {
    margin-bottom: 19px
}

.offcanvas-3__meta li a:hover {
    color: var(--secondary)
}

.offcanvas-3__meta-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between
}

.offcanvas-3__social .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 10px
}

.offcanvas-3__social-links {
    display: flex;
    gap: 20px
}

.offcanvas-3__social-links a {
    font-size: 18px;
    color: var(--white)
}

.offcanvas-3__social-links a:hover {
    color: var(--secondary)
}

.offcanvas-3__menu {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden
}

.offcanvas-3__menu ul {
    position: relative
}

.offcanvas-3__menu ul:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    background: #333337;
    inset-inline-start: 8px;
    top: 0
}

@media only screen and (max-width: 767px) {
    .offcanvas-3__menu ul:before {
        display: none
    }
}

@media(max-height: 500px) {
    .offcanvas-3__menu ul:before {
        height: 100%
    }
}

.offcanvas-3__menu li {
    padding-inline-start: 58px;
    position: relative
}

@media only screen and (max-width: 767px) {
    .offcanvas-3__menu li {
        padding-left: 0
    }
}

.offcanvas-3__menu li:hover>a {
    color: var(--white)
}

.offcanvas-3__menu li:hover:before {
    opacity: 1;
    visibility: visible
}

.offcanvas-3__menu li:before {
    position: absolute;
    content: "";
    width: 17px;
    height: 17px;
    background: var(--white);
    border-radius: 50%;
    border: 4px solid var(--black-2);
    inset-inline-start: 0;
    top: 38%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: .5s
}

@media only screen and (max-width: 767px) {
    .offcanvas-3__menu li:before {
        display: none
    }
}

.offcanvas-3__menu li:not(:last-child) {
    margin-bottom: 26px
}

@media only screen and (max-width: 991px) {
    .offcanvas-3__menu li:not(:last-child) {
        margin-bottom: 20px
    }
}

.offcanvas-3__menu li a {
    font-size: 120px;
    font-size: 8vh;
    color: var(--secondary);
    text-transform: uppercase;
    line-height: .9;
    position: relative;
    transition: all .5s cubic-bezier(0, 0, 0.23, 1);
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(90deg, #fff, #ddd 50%, #666 0);
    background-size: 200% 100%;
    background-position: 100%;
    transform: perspective(359px) rotateY(-18deg)
}

.offcanvas-3__menu li a:hover {
    background-position: 0;
    color: #fff;
    letter-spacing: 1.5px
}

@media only screen and (max-width: 1399px) {
    .offcanvas-3__menu li a {
        font-size: 7vh
    }
}

@media only screen and (max-width: 1199px) {
    .offcanvas-3__menu li a {
        font-size: 6vh
    }
}

@media only screen and (max-width: 991px) {
    .offcanvas-3__menu li a {
        font-size: 2.5vh;
        color: rgba(255, 255, 255, .6705882353);
        background-image: unset;
        -webkit-text-fill-color: unset
    }
}

.offcanvas-3__menu-wrapper {
    display: flex;
    align-items: flex-end;
    overflow-y: hidden
}

.offcanvas-3__area {
    left: 0%;
    opacity: 0;
    visibility: hidden;
    transform: perspective(359px) rotateY(50deg)
}

.offcanvas-3__menu ul li {
    opacity: 0;
    top: -100px;
    position: relative;
    transform: perspective(359px) rotateX(50deg)
}

.offcanvas-3__meta {
    opacity: 0;
    top: -30px;
    position: relative
}

.offcanvas-3__social {
    opacity: 0;
    top: -30px;
    position: relative
}

.close-button {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: var(--black-2);
    position: relative;
    border: 1px solid #333337;
    transition: all .5s
}

@media only screen and (max-width: 767px) {
    .close-button {
        width: 50px;
        height: 50px
    }
}

.close-button:hover {
    background-color: var(--secondary)
}

.close-button:hover span {
    background-color: var(--primary)
}

.close-button span {
    width: 26px;
    height: 1px;
    display: inline-block;
    background-color: var(--white);
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all .5s
}

@media only screen and (max-width: 767px) {
    .close-button span {
        width: 20px
    }
}

.close-button span:first-child {
    transform: translateX(-50%) rotate(45deg)
}

.close-button span:last-child {
    transform: translateX(-50%) rotate(-45deg)
}

.cf_feature.style-1 .thumb {
    margin-bottom: 50px
}

@media only screen and (max-width: 1199px) {
    .cf_feature.style-1 .thumb {
        margin-bottom: 30px
    }
}

.cf_feature.style-1 .title {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 20px
}

.cf_feature.style-1 .title:hover {
    color: var(--action)
}

.cf_feature.style-1 .text {
    color: var(--primary)
}

.cf_feature.style-1 .btn-wrapper {
    display: none
}

.cf_feature.text-design {
    padding: 60px;
    padding-left: 70px;
    padding-right: 0;
    border-left: 1px solid rgba(18, 18, 18, .06)
}

@media only screen and (max-width: 1199px) {
    .cf_feature.text-design {
        padding-left: 30px
    }
}

@media only screen and (max-width: 991px) {
    .cf_feature.text-design {
        border: 0;
        padding-left: 0
    }
}

@media only screen and (max-width: 767px) {
    .cf_feature.text-design {
        padding-top: 30px;
        padding-bottom: 30px
    }
}

.cf_feature.text-design .thumb {
    margin-bottom: 30px
}

.cf_feature.text-design .title-2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.16;
    text-decoration-line: underline;
    margin-bottom: 40px
}

@media only screen and (max-width: 1199px) {
    .cf_feature.text-design .title-2 {
        font-size: 22px;
        margin-bottom: 20px
    }
}

.cf_feature.style-2 {
    padding: 60px;
    border-right: 1px solid rgba(18, 18, 18, .06)
}

@media only screen and (max-width: 1199px) {
    .cf_feature.style-2 {
        padding: 30px
    }
}

@media only screen and (max-width: 767px) {
    .cf_feature.style-2 {
        padding-left: 0
    }
}

.cf_feature.style-2:first-child {
    padding-left: 0
}

.cf_feature.style-2:last-child {
    border-right: 0;
    padding-right: 0
}

.font-heading-Beatricetrial h1,
.font-heading-Beatricetrial h2,
.font-heading-Beatricetrial h3,
.font-heading-Beatricetrial h4,
.font-heading-Beatricetrial h5,
.font-heading-Beatricetrial h6 {
    font-family: var(--font_beatricetrial)
}

.cf_feature.style-3 {
    border-right: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    padding: 50px;
    padding-bottom: 0
}

@media only screen and (max-width: 1199px) {
    .cf_feature.style-3 {
        padding: 30px
    }
}

@media only screen and (max-width: 991px) {
    .cf_feature.style-3 {
        flex-basis: 45%;
        border: 0;
        padding-left: 0
    }
}

@media only screen and (max-width: 767px) {
    .cf_feature.style-3 {
        padding-left: 0;
        margin-bottom: 0;
        flex-basis: 100%;
        padding-bottom: 20px
    }
}

.cf_feature.style-3:first-child {
    padding-left: 0
}

.cf_feature.style-3:last-child {
    border-right: 0
}

.cf_feature.style-3:hover .title {
    padding-left: 15px
}

.cf_feature.style-3:hover .title::before {
    left: 0
}

.cf_feature.style-3 .content {
    overflow: hidden
}

.cf_feature.style-3 .count-title {
    color: var(--primary);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 25px
}

.cf_feature.style-3 .title {
    color: var(--primary);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 25px;
    transition: .3s;
    position: relative
}

.cf_feature.style-3 .title::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: var(--primary)
}

.cf_feature.style-3 .title:hover {
    color: var(--action)
}

.cf_feature.style-3 .text {
    margin-bottom: 100px
}

@media only screen and (max-width: 991px) {
    .cf_feature.style-3 .text {
        margin-bottom: 50px
    }
}

@media only screen and (max-width: 767px) {
    .cf_feature.style-3 .text {
        margin-bottom: 20px
    }
}

.cf_feature.style-3 .btn-underline {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    color: var(--primary);
    text-transform: capitalize
}

:root {
    --theme: #121212
}

:root .dark {
    --border: #252525
}

.section-title {
    font-size: 60px;
    margin-top: -17px
}

@media only screen and (max-width: 1919px) {
    .section-title {
        font-size: 60px;
        margin-top: -17px
    }
}

@media only screen and (max-width: 1399px) {
    .section-title {
        font-size: 55px;
        margin-top: -15px
    }
}

@media only screen and (max-width: 1199px) {
    .section-title {
        font-size: 44px;
        margin-top: -12px
    }
}

@media only screen and (max-width: 991px) {
    .section-title {
        font-size: 40px;
        margin-top: -11px
    }
}

@media only screen and (max-width: 767px) {
    .section-title {
        font-size: 35px;
        margin-top: 0
    }
}

@media(max-width: 575px) {
    .section-title {
        font-size: 30px;
        margin-top: 0
    }
}

.section-title.large {
    font-size: 100px
}

@media only screen and (max-width: 1919px) {
    .section-title.large {
        font-size: 80px
    }
}

@media only screen and (max-width: 1399px) {
    .section-title.large {
        font-size: 70px
    }
}

@media only screen and (max-width: 1199px) {
    .section-title.large {
        font-size: 60px
    }
}

@media only screen and (max-width: 991px) {
    .section-title.large {
        font-size: 50px
    }
}

@media only screen and (max-width: 767px) {
    .section-title.large {
        font-size: 40px
    }
}

@media(max-width: 575px) {
    .section-title.large {
        font-size: 36px
    }
}

.section-spacing {
    padding-top: 150px;
    padding-bottom: 150px
}

@media only screen and (max-width: 1919px) {
    .section-spacing {
        padding-top: 120px;
        padding-bottom: 120px
    }
}

@media only screen and (max-width: 1399px) {
    .section-spacing {
        padding-top: 100px;
        padding-bottom: 100px
    }
}

@media only screen and (max-width: 1199px) {
    .section-spacing {
        padding-top: 60px;
        padding-bottom: 60px
    }
}

.section-spacing-top {
    padding-top: 150px
}

@media only screen and (max-width: 1919px) {
    .section-spacing-top {
        padding-top: 120px
    }
}

@media only screen and (max-width: 1399px) {
    .section-spacing-top {
        padding-top: 100px
    }
}

@media only screen and (max-width: 1199px) {
    .section-spacing-top {
        padding-top: 60px
    }
}

.section-spacing-bottom {
    padding-bottom: 150px
}

@media only screen and (max-width: 1919px) {
    .section-spacing-bottom {
        padding-bottom: 120px
    }
}

@media only screen and (max-width: 1399px) {
    .section-spacing-bottom {
        padding-bottom: 100px
    }
}

@media only screen and (max-width: 1199px) {
    .section-spacing-bottom {
        padding-bottom: 60px
    }
}

.wc-btn-primary {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0 30px 0 30px;
    padding: 22px 38px
}

@media(min-width: 1800px) {
    .container.large {
        max-width: 1750px
    }
}

.header-area {
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    width: 100%
}

.header-area.sticky {
    background-color: var(--white)
}

.header-area .header-area__inner {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
    height: 100px
}

@media only screen and (max-width: 1919px) {
    .header-area .header-area__inner {
        height: 80px
    }
}

.header-area .header-area__inner>*:nth-child(1) {
    margin-inline-end: auto
}

@media(max-width: 575px) {
    .header-area .header__meta {
        display: none
    }
}

.dir-rtl .header-area .header__navicon img {
    transform: rotateY(180deg)
}

.header-area .wc-btn-primary {
    font-weight: 500;
    padding: 12px 28px;
    border-radius: 0 20px 0 20px
}
.copyright-area .footer-nav-list a:hover {
    color: var(--white-2)
}

.work-details-area .section-title {
    margin-top: 0
}

.hero-area {
    position: relative;
    z-index: 1;
    margin-top: 75px;
    min-width: 970px;
    max-height: 900px;
}

.hero-area-inner {
    padding-top: 200px;
    padding-bottom: 113px
}

@media only screen and (max-width: 1919px) {
    .hero-area-inner {
        padding-top: 150px;
        padding-bottom: 63px
    }
}

@media only screen and (max-width: 1199px) {
    .hero-area-inner {
        padding-top: 80px;
        padding-bottom: 43px
    }
}

.hero-area .area-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1
}

.hero-area .area-bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1;
}

.hero-area .section-title {
    color: var(--white);
    line-height: 1;
    text-transform: uppercase
}

@media(min-width: 1400px) {
    .hero-area .section-title {
        font-size: 80px
    }
}

.hero-area .section-title span {
    width: 70px;
    height: 2px;
    display: inline-block;
    background-color: var(--white);
    margin-bottom: 35px;
    margin-inline-end: 10px
}

@media only screen and (max-width: 1399px) {
    .hero-area .section-title span {
        margin-bottom: 19px
    }
}

@media only screen and (max-width: 1199px) {
    .hero-area .section-title span {
        margin-bottom: 15px;
        width: 40px
    }
}

@media only screen and (max-width: 767px) {
    .hero-area .section-title span {
        display: none
    }
}

.hero-area .work-meta {
    padding-top: 27px;
    padding-inline-start: 80px
}

@media only screen and (max-width: 767px) {
    .hero-area .work-meta {
        padding-inline-start: 0
    }
}

.hero-area .work-meta .title {
    font-size: 18px;
    font-weight: 500;
    color: var(--white);
    display: block;
    line-height: 24px
}

.hero-area .work-meta .text {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: var(--white)
}

.hero-area .work-meta .wc-btn-normal {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: var(--white)
}

.hero-area .work-meta li:not(:first-child) {
    margin-top: 23px
}

.problem-area .section-subtitle {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--primary)
}

.problem-area .section-title-wrapper {
    display: grid;
    gap: 30px 60px;
    grid-template-columns: 1fr 840px
}

@media only screen and (max-width: 1399px) {
    .problem-area .section-title-wrapper {
        grid-template-columns: 1fr 740px
    }
}

@media only screen and (max-width: 1199px) {
    .problem-area .section-title-wrapper {
        grid-template-columns: 1fr 600px
    }
}

@media only screen and (max-width: 991px) {
    .problem-area .section-title-wrapper {
        grid-template-columns: 1fr
    }
}

.result-area .section-content {
    margin-top: 61px;
    margin-bottom: 61px;
}

.result-area .section-content .title {
    font-size: 36px;
    line-height: 1
}

.result-area .section-content .text-wrapper {
    margin-top: 33px
}

.result-area .results-wrapper-box {
    margin-top: 43px
}

.result-area .results-wrapper {
    border-top: 1px solid var(--border);
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}

@media only screen and (max-width: 767px) {
    .result-area .results-wrapper {
        border-top: 0;
        grid-template-columns: repeat(1, 1fr)
    }
}

.result-area .result-box {
    padding: 46px 45px 13px
}

@media only screen and (max-width: 1399px) {
    .result-area .result-box {
        padding: 26px 25px 13px
    }
}

@media only screen and (max-width: 767px) {
    .result-area .result-box {
        border-top: 1px solid var(--border);
        padding: 26px 0px 23px
    }
}

.result-area .result-box:not(:first-child) {
    border-inline-start: 1px solid var(--border)
}

@media only screen and (max-width: 767px) {
    .result-area .result-box:not(:first-child) {
        border-inline-start: 0
    }
}

.result-area .result-box .text {
    font-size: 16px;
    line-height: 24px;
    margin-top: 29px
}

@media only screen and (max-width: 991px) {
    .result-area .result-box .text {
        margin-top: 14px
    }
}

.result-area .result-box .number {
    font-size: 42px;
    font-weight: 600;
    color: var(--primary)
}

@media only screen and (max-width: 1399px) {
    .result-area .result-box .number {
        font-size: 32px
    }
}

@media(min-width: 1400px) {
    .gallery-area-inner {
        padding-top: 130px
    }
}

.gallery-area .gallery-wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr)
}

@media only screen and (max-width: 991px) {
    .gallery-area .gallery-wrapper {
        gap: 10px
    }
}

.gallery-area .gallery-wrapper>*:nth-child(3n+3) {
    grid-column: span 2
}

.gallery-area .thumb img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

.btn-area-inner {
    padding-top: 60px
}

@media only screen and (max-width: 1399px) {
    .btn-area-inner {
        padding-top: 40px
    }
}

.btn-area .btn-wrapper {
    display: flex;
    gap: 30px
}

.btn-area .wc-btn-primary {
    padding: 22px 62px
}

.dark .btn-area .wc-btn-primary {
    color: var(--white);
    border: 1px solid var(--white);
}

.wc-btn.disabled {
    pointer-events: none;
    opacity: 0.5;
}

#prevBtn, #nextBtn {
    cursor: pointer;
}

.dark .btn-area .wc-btn-primary:hover {
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--white);
}
