.cta-inner {
    padding-inline: 30px;
    background-color: var(--primary);
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 50px;
}

.cta {
    padding-top: 100px;
    padding-bottom: 100px;
}

.dark .cta-inner {
    background-color: #1b1b1b
}

.cta-inner .shape-1 {
    position: absolute;
    inset-inline-end: -6%;
    top: -15%;
    z-index: -1;
    width: 440px
}

@media only screen and (max-width: 1399px) {
    .cta-inner .shape-1 {
        top: -45%
    }
}

@media only screen and (max-width: 1199px) {
    .cta-inner .shape-1 {
        width: 340px
    }
}

@media only screen and (max-width: 991px) {
    .cta-inner .shape-1 {
        width: 270px;
        top: -35%
    }
}

@media only screen and (max-width: 767px) {
    .cta-inner .shape-1 {
        display: none
    }
}

.cta .section-title {
    max-width: 830px;
    margin-inline: auto;
    color: var(--white)
}

@media only screen and (max-width: 1919px) {
    .cta .section-title {
        max-width: 730px
    }
}

@media only screen and (max-width: 1199px) {
    .cta .section-title {
        max-width: 580px
    }
}

@media only screen and (max-width: 991px) {
    .cta .section-title {
        max-width: 480px
    }
}

.cta .section-content {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cta .section-content .btn-wrapper {
    margin-top: 42px
}

@media only screen and (max-width: 991px) {
    .cta .section-content .btn-wrapper {
        margin-top: 22px
    }
}

.cta .section-content .wc-btn-underline {
    color: var(--white);
    text-transform: uppercase
}

.wc-btn-underline::before {
    display: none;
}

.service-details-area {
    padding-top: 100px;
}

@media only screen and (max-width: 1399px) {
    .service-details-area {
        padding-top: 80px
    }
}

.service-details-area .thumb-main {
    position: relative;
    height: 654px;
}

.service-details-area .thumb-main img {
    width: 100%;
    height: 100%;
    z-index: -3;
    object-fit: cover;
    object-position: right center;
}

.service-details-area .thumb-main .linear-gradient {
    position: absolute;
    inset-inline-start: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(77.6deg, #280028 21.41%, rgba(0, 0, 0, 0) 112.62%);
}

.dark .service-details-area .thumb-main .linear-gradient {
    background: linear-gradient(77.6deg, #1b1b1b 21.41%, rgba(255, 255, 255, 0) 112.62%);
}

.service-details-area .thumb-main .service-bg-content {
    position: absolute;
    inset-inline-start: 0;
    top: 0;
    z-index: 10;
    top: 110px;
    left: 100px;
}


.service-details-area .thumb-main .service-bg-content .title {
    font-size: 56px;
    line-height: 1.2;
    max-width: 680px;
    background: linear-gradient(90deg, #FFFFFF 0%, #AF10B2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 800;
}

.service-details-area .thumb-main .service-bg-content .text {
    margin-top: 25px;
    font-size: 40px;
    line-height: 1.44;
    color: var(--white);
    font-weight: lighter;
    max-width: 600px;
}

.service-details-area .thumb-main .service-bg-content .btn {
    padding: 10px 0px;
    background: rgba(175, 16, 178, 1);
    transition: all 0.3s ease-in-out;
    color: var(--white);
    margin-top: 40px;
}

.service-details-area .thumb-main .service-bg-content .btn a {
    padding: 10px 30px;
}

.service-details-area .thumb-main .service-bg-content .btn:hover a:hover {
    color: var(--white);

}

.service-details-area .thumb-main .hero-social {
    writing-mode: vertical-lr;
    display: flex;
    gap: 20px;
    align-items: center;
    position: absolute;
    right: 1380px;
    bottom: -180px
}

@media only screen and (max-width: 991px) {
    .service-details-area .thumb-main .service-bg-content {
        top: 80px;
        left: 50px
    }

    .service-details-area .thumb-main .service-bg-content .title {
        font-size: 50px;
        line-height: 1.2;
        max-width: 540px;
    }

    .service-details-area .thumb-main .service-bg-content .text {
        font-size: 30px;
        line-height: 1.44;
        max-width: 450px;
    }

    .service-details-area .thumb-main {
        position: relative;
        height: 560px;
    }

}

@media only screen and (max-width: 991px) {
    .service-details-area .thumb-main .service-bg-content {
        top: 80px;
        left: 50px
    }

    .service-details-area .thumb-main .service-bg-content .title {
        font-size: 38px;
        line-height: 1.2;
        max-width: 430px;
    }

    .service-details-area .thumb-main .service-bg-content .text {
        font-size: 26px;
        line-height: 1.44;
        max-width: 450px;
        margin-top: 40px;
    }

    .service-details-area .thumb-main {
        position: relative;
        height: 560px;
    }

}

@media only screen and (max-width: 767px) {
    .service-details-area .thumb-main .service-bg-content {
        top: 50px;
        left: 20px
    }

    .service-details-area .thumb-main .service-bg-content .title {
        font-size: 32px;
        line-height: 1.2;
        max-width: 380px;
    }

    .service-details-area .thumb-main .service-bg-content .text {
        font-size: 20px;
        line-height: 1.44;
        max-width: 450px;
        margin-top: 40px;
    }

    .service-details-area .thumb-main {
        position: relative;
        height: 520px;
    }

}

@media only screen and (max-width: 1919px) {
    .service-details-area .thumb-main .hero-social {
        right: 30px;
        bottom: 30px;
        background-color: var(--white);
        padding: 20px 10px
    }
}

@media only screen and (max-width: 991px) {
    .service-details-area .thumb-main .hero-social {
        writing-mode: initial;
        padding: 10px 20px
    }
}


.service-details-area .thumb-main .hero-social .title {
    position: relative;
    padding-inline-end: 80px;
    display: inline-block;
    font-size: 14px;
    color: var(--primary);
    text-transform: uppercase
}

@media only screen and (max-width: 1919px) {
    .service-details-area .thumb-main .hero-social .title {
        color: var(--black)
    }
}

.service-details-area .thumb-main .hero-social .title:before {
    position: absolute;
    content: "";
    width: 1px;
    height: 60px;
    background-color: var(--border);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}


@media only screen and (max-width: 991px) {
    .service-details-area .thumb-main .hero-social .title:before {
        width: 60px;
        height: 1px;
        inset-inline-end: 0;
        top: 50%;
        transform: translateY(-50%)
    }
}

.service-details-area .thumb-main .hero-social .hero-social-links {
    display: flex;
    gap: 25px
}

.service-details-area .thumb-main .hero-social .hero-social-links a {
    color: var(--primary)
}

@media only screen and (max-width: 1919px) {
    .service-details-area .thumb-main .hero-social .hero-social-links a {
        color: var(--black)
    }
}

.service-details-area .thumb-main .hero-social .hero-social-links a:hover {
    color: var(--secondary)
}

.service-details-area .thumb-main .hero-social .hero-social-links a i {
    font-size: 16px
}

.service-details-area .section-title-box {
    display: grid;
    gap: 20px 60px;
    grid-template-columns: 1fr 450px;
    align-items: center;
    margin-top: 70px
}

@media only screen and (max-width: 1199px) {
    .service-details-area .section-title-box {
        grid-template-columns: 1fr 460px
    }
}

@media only screen and (max-width: 991px) {
    .service-details-area .section-title-box {
        grid-template-columns: 1fr
    }
}

.service-details-area .section-title-box .feature-list {
    display: grid;
    gap: 10px 50px;
    grid-template-columns: auto auto;
    justify-content: space-between
}

@media only screen and (max-width: 991px) {
    .service-details-area .section-title-box .feature-list {
        justify-content: flex-start
    }
}

@media only screen and (max-width: 767px) {
    .service-details-area .thumb-main .hero-social {
        left: 10px;
        bottom: 10px;
        right: 10px;
    }

    .service-details-area .thumb-main .hero-social .hero-social-links {
        display: flex;
        gap: 10px
    }
}

@media(max-width: 575px) {
    .service-details-area .section-title-box .feature-list {
        grid-template-columns: auto
    }
}

.service-details-area .section-title-box .feature-list li {
    color: var(--primary)
}

.dark .service-details-area .section-title-box .feature-list li {
    color: var(--white)
}

.service-details-area .section-title-box .feature-list li:not(:first-child) {
    margin-top: 10px
}

.service-details-area .section-title-box .feature-list li:before {
    content: "+";
    margin-inline-end: 13px
}

.service-details-area .text-wrapper {
    margin-top: 27px
}

.service-details-area .text-wrapper .text:not(:first-child) {
    margin-top: 23px
}

.service-details-area .steps-wrapper-box {
    border-top: 1px solid var(--border);
    margin-top: 66px
}

.dark .service-details-area .steps-wrapper-box {
    border-top: 1px solid var(--white);
}

@media only screen and (max-width: 991px) {
    .service-details-area .steps-wrapper-box {
        border-top: 0px !important;
    }
}

.service-details-area .working-steps {
    display: grid;
    gap: 40px 30px;
    grid-template-columns: repeat(4, 1fr)
}

@media only screen and (max-width: 991px) {
    .service-details-area .working-steps {
        grid-template-columns: repeat(2, 1fr)
    }


}

@media(max-width: 575px) {
    .service-details-area .working-steps {
        grid-template-columns: repeat(1, 1fr)
    }
}

.service-details-area .working-step {
    padding-top: 50px;
    position: relative
}

@media only screen and (max-width: 991px) {
    .service-details-area .working-step {
        padding-top: 20px;
        border-top: 1px solid var(--border)
    }

    .dark .service-details-area .working-step {
        border-top: 1px solid var(--white)
    }
}

.service-details-area .working-step:before {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    background-color: var(--primary);
    border-radius: 50%;
    top: -4px;
    inset-inline-start: 0
}

.dark .service-details-area .working-step:before {
    background-color: var(--white);
}

.service-details-area .working-step .title {
    font-size: 22px;
    line-height: 1.29
}

.service-details-area .working-step .text {
    margin-top: 15px
}

.service-details-area .thumb-gallery {
    margin-top: 53px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr)
}

@media only screen and (max-width: 991px) {
    .service-details-area .thumb-gallery {
        gap: 10px
    }
}

@media(max-width: 575px) {
    .service-details-area .thumb-gallery {
        grid-template-columns: repeat(2, 1fr)
    }
}

.features-area .section-title {
    max-width: 750px;
    text-indent: 35px;
    margin-top: -10px
}

@media(min-width: 992px) {
    .features-area .section-title {
        font-size: 36px
    }
}

@media only screen and (max-width: 767px) {
    .features-area .section-title {
        text-indent: 0
    }
}

.features-area .section-content {
    margin-top: 90px;
    display: grid;
    gap: 20px 60px;
    grid-template-columns: auto 960px;
    justify-content: space-between
}

@media only screen and (max-width: 1919px) {
    .features-area .section-content {
        margin-top: 60px
    }
}

@media only screen and (max-width: 1399px) {
    .features-area .section-content {
        grid-template-columns: auto 920px
    }
}

@media only screen and (max-width: 1199px) {
    .features-area .section-content {
        grid-template-columns: 1fr;
        margin-top: 30px
    }
}

@media only screen and (max-width: 1199px) {
    .features-area .section-content .shape {
        display: none
    }
}

.dir-rtl .features-area .section-content .shape img {
    transform: rotateY(180deg)
}

.features-area .section-content .thumb {
    position: relative
}

.features-area .section-content .thumb .main-image {
    border-radius: 0 0 300px 0
}

.dir-rtl .features-area .section-content .thumb .main-image {
    border-radius: 0 0 0 300px
}

@media only screen and (max-width: 991px) {
    .features-area .section-content .thumb .main-image {
        border-radius: 0
    }
}

.features-area .section-content .thumb .shape-1 {
    position: absolute;
    inset-inline-end: 17px;
    bottom: -20px
}

.dir-rtl .features-area .section-content .thumb .shape-1 img {
    transform: rotateY(180deg)
}

.features-area .section-content .text-wrapper {
    margin-top: 60px;
    display: grid;
    gap: 23px 80px;
    grid-template-columns: 1fr 1fr
}

@media only screen and (max-width: 1399px) {
    .features-area .section-content .text-wrapper {
        margin-top: 40px
    }
}

@media only screen and (max-width: 991px) {
    .features-area .section-content .text-wrapper {
        grid-template-columns: 1fr
    }
}

.faq-area .section-title {
    max-width: 500px
}

@media(min-width: 992px) {
    .faq-area .section-title {
        font-size: 36px
    }
}

.faq-area .section-content {
    display: grid;
    gap: 40px 60px;
    grid-template-columns: 550px 550px;
    align-items: center;
    justify-content: space-between
}

@media only screen and (max-width: 1199px) {
    .faq-area .section-content {
        grid-template-columns: 420px 460px
    }
}

@media only screen and (max-width: 991px) {
    .faq-area .section-content {
        grid-template-columns: auto
    }
}

.faq-area .accordion-wrapper {
    margin-top: 27px
}

.faq-area .accordion .accordion-button {
    font-size: 18px;
    line-height: 1;
    color: var(--primary);
    padding-top: 18px;
    padding-bottom: 18px;
    padding-inline-start: 0;
    padding-inline-end: 0;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    text-align: start;
    font-weight: 500
}

.dark .faq-area .accordion .accordion-button,
.dark .faq-area .accordion .accordion-button::after {
    color: var(--white);
}

@media only screen and (max-width: 1199px) {
    .faq-area .accordion .accordion-button {
        font-size: 18px
    }
}

.faq-area .accordion .accordion-button .section-subtitle {
    font-size: 12px;
    font-weight: 700;
    color: var(--primary);
    text-transform: uppercase;
    padding: 8px 16px;
    display: inline-block;
    border-radius: 10px;
    background-color: var(--white)
}

@media only screen and (max-width: 1199px) {
    .faq-area .accordion .accordion-button br {
        display: none
    }
}

.faq-area .accordion .accordion-button::after {
    content: "+";
    color: var(--primary);
    background-image: none;
    line-height: 1;
    width: auto;
    height: auto;
    font-size: 25px;
    margin-inline-start: 50px;
    margin-inline-start: auto;
    margin-inline-end: 0
}

.faq-area .accordion .accordion-button:not(.collapsed) {
    pointer-events: none
}

.faq-area .accordion .accordion-button:not(.collapsed)::after {
    content: "-"
}

.faq-area .accordion .accordion-item {
    border-bottom: 1px solid var(--border);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0px
}

.faq-area .accordion .accordion-item:not(:first-child) {
    margin-top: 0px
}

.faq-area .accordion .accordion-item:first-child {
    border-top: 1px solid var(--border)
}

.faq-area .accordion .accordion-body {
    font-size: 18px;
    line-height: 1.44;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    padding-bottom: 24px;
    padding-top: 0;
    color: var(--secondary)
}

@media only screen and (max-width: 991px) {
    .faq-area .accordion .accordion-body {
        padding-bottom: 23px
    }
}

.faq-area .thumb {
    position: relative
}

.faq-area .thumb img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}