

.blog-details-area-inner {
    padding-top: 217px
}

@media only screen and (max-width: 1919px) {
    .blog-details-area-inner {
        padding-top: 147px
    }
}

@media only screen and (max-width: 1199px) {
    .blog-details-area-inner {
        padding-top: 127px
    }
}

@media only screen and (max-width: 991px) {
    .blog-details-area-inner {
        padding-top: 127px
    }
}

.blog-details-area .section-header .meta-box {
    margin-top: 31px;
    margin-bottom: 97px
}

@media only screen and (max-width: 1919px) {
    .blog-details-area .section-header .meta-box {
        margin-bottom: 77px
    }
}

@media only screen and (max-width: 1199px) {
    .blog-details-area .section-header .meta-box {
        margin-bottom: 57px
    }
}

.blog-details-area .section-header .meta-box ul {
    display: flex;
    gap: 30px 0
}

@media(max-width: 575px) {
    .blog-details-area .section-header .meta-box ul {
        display: grid;
        grid-template-columns: auto auto
    }
}

.blog-details-area .section-header .meta-box ul li:not(:first-child) {
    padding-inline-start: 30px;
    border-inline-start: 1px solid var(--border);
    margin-inline-start: 30px
}

@media(max-width: 575px) {
    .blog-details-area .section-header .meta-box ul li:not(:first-child) {
        padding-inline-start: 0px;
        border-inline-start: 0;
        margin-inline-start: 0px
    }
}

.blog-details-area .section-header .meta-box .number {
    font-size: 30px;
    color: var(--primary);
    line-height: 1;
    display: inline-block;
    font-family: var(--font_beatricetrial)
}

.dark .blog-details-area .section-header .meta-box .number {
    color: var(--white);
}

@media only screen and (max-width: 1199px) {
    .blog-details-area .section-header .meta-box .number {
        font-size: 26px
    }
}

@media only screen and (max-width: 767px) {
    .blog-details-area .section-header .meta-box .number {
        font-size: 20px
    }
}

.blog-details-area .section-header .meta-box .text {
    font-size: 18px;
    line-height: 1;
    margin-top: 9px
}

.blog-details-area .blogdetails-overview {
    display: flex;
    gap: 20px;
    flex-direction: column;
    max-width: 80px;
    border-inline-end: 1px solid var(--border)
}

.dark .blog-details-area .blogdetails-overview {
    border-inline-end: 1px solid var(--white)
}

@media only screen and (max-width: 991px) {
    .blog-details-area .blogdetails-overview {
        flex-direction: row;
        border-bottom: 1px solid var(--border);
        border-inline-end: 0;
        display: inline-flex;
        max-width: 100%
    }
}

.blog-details-area .blogdetails-overview li {
    text-align: center;
    position: relative;
    line-height: 1.1
}

.blog-details-area .blogdetails-overview li i {
    display: block;
    padding-bottom: 3px;
    color: var(--primary)
}

.dark .blog-details-area .blogdetails-overview li i {
    color: var(--white)
}

.dark .blog-details-area .blogdetails-overview li i:hover {
    color: var(--primary2)
}


.blog-details-area .blogdetails__wrapper {
    margin-top: 100px;
    display: grid;
    gap: 30px 140px;
    grid-template-columns: 80px 850px
}

@media only screen and (max-width: 1199px) {
    .blog-details-area .blogdetails__wrapper {
        gap: 30px 60px;
        grid-template-columns: 80px 1fr;
        margin-top: 80px
    }
}

@media only screen and (max-width: 991px) {
    .blog-details-area .blogdetails__wrapper {
        grid-template-columns: 1fr;
        margin-top: 60px
    }
}

.blog-details-area .text-wrapper .text:not(:first-child) {
    margin-top: 25px
}

.blog-details-area .thumb {
    margin-top: 34px
}

.blog-details-area .content-block {
    margin-top: 50px
}

@media only screen and (max-width: 991px) {
    .blog-details-area .content-block {
        margin-top: 30px
    }
}

.blog-details-area .content-block .content-title {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 22px
}

@media only screen and (max-width: 991px) {
    .blog-details-area .content-block .content-title {
        margin-bottom: 12px
    }
}

.blog-details-area .details-service {
    margin-top: 21px
}

.blog-details-area .details-service li {
    font-size: 18px;
    line-height: 1.66;
    color: var(--primary)
}

.blog-details-area .details-service li {
    color: var(--white)
}

.blog-details-area .details-service li span {
    margin-inline-end: 10px
}

.blog-details-area .tagswrap {
    margin-top: 30px
}

.blog-details-area .tags {
    display: flex;
    gap: 10px;
}

.blog-details-area .tags span {
    color: var(--primary);
    margin-inline-end: 5px
}

.dark .blog-details-area .tags span {
    color: var(--white);
}

.blog-details-area .tags a {
    text-decoration: underline
}


.blog-details-area .submit-btn {
    margin-top: 60px
}

.blog-area .blogs-wrapper-box {
    margin-top: 47px
}

.dark .blog-area {
    background-color: var(--black);
}

@media only screen and (max-width: 1399px) {
    .blog-area .blogs-wrapper-box {
        margin-top: 27px
    }
}

.blog-area .blogs-wrapper {
    display: grid;
    gap: 45px 45px;
    grid-template-columns: repeat(2, 1fr)
}

@media only screen and (max-width: 1199px) {
    .blog-area .blogs-wrapper {
        gap: 40px 35px
    }
}

@media only screen and (max-width: 991px) {
    .blog-area .blogs-wrapper {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media(max-width: 575px) {
    .blog-area .blogs-wrapper {
        grid-template-columns: repeat(1, 1fr)
    }
}

.blog-area .blog-box:hover .icon {
    transform: none;
    opacity: 1
}

.blog-area .blog-box:hover .content {
    border-color: var(--primary)
}

.dark .blog-area .blog-box:hover .content {
    border-color: var(--primary2)
}

.dark .blog-area .blog-box .content {
    border-bottom: 1px solid var(--white)
}

.blog-area .blog-box .thumb img {
    width: 100%
}

.blog-area .blog-box .content {
    padding-top: 25px;
    padding-bottom: 23px;
    border-bottom: 1px solid var(--border);
    display: grid;
    gap: 10px;
    grid-template-columns: 68px 1fr auto;
    transition: all .5s
}

@media only screen and (max-width: 1199px) {
    .blog-area .blog-box .content {
        grid-template-columns: 38px 1fr auto;
        padding-top: 20px;
        padding-bottom: 13px
    }
}

.blog-area .blog-box .number {
    font-size: 18px;
    line-height: 1
}

.blog-area .blog-box .title {
    font-size: 24px;
    line-height: 1.25
}

@media only screen and (max-width: 1199px) {
    .blog-area .blog-box .title {
        font-size: 20px
    }
}

.blog-area .blog-box .icon {
    transform: translate(-10px, 10px);
    opacity: 0;
    transition: all .5s
}

@media only screen and (max-width: 767px) {
    .blog-area .blog-box .icon {
        display: none
    }
}

.blog-area .blog-box .icon i {
    font-size: 20px;
    color: var(--primary);
    transform: rotate(-45deg)
}

.dark .blog-area .blog-box .icon i {
    font-size: 20px;
    color: var(--primary2);
    transform: rotate(-45deg)
}

