.project-area {
    background-color: var(--white)
}

.dark .project-area {
    background-color: var(--black)
}

.project-area .projects-grid {
    -moz-column-count: 2;
    column-count: 2;
    gap: 70px 130px;
    max-width: 1290px;
    margin: auto
}

@media only screen and (max-width: 991px) {
    .project-area .projects-grid {
        gap:70px 60px
    }
}

@media only screen and (max-width: 767px) {
    .project-area .projects-grid {
        -moz-column-count:1;
        column-count: 1;
        gap: 30px
    }
}

.project-area .projects-grid>* {
    margin-top: 150px;
    display: inline-block
}

@media only screen and (max-width: 991px) {
    .project-area .projects-grid>* {
        margin-top:80px
    }
}

@media only screen and (max-width: 767px) {
    .project-area .projects-grid>* {
        margin-top:50px
    }
}

.project-area .projects-grid>*:first-child {
    margin-top: 0
}

.project-area .project-item {
    position: relative
}

.project-area .project-item:hover .thumb .wc-btn-primary {
    opacity: 1;
    margin-top: 0
}

.project-area .project-item:hover .thumb img {
    transform: scale(1.1)
}

.project-area .project-item .thumb {
    position: relative;
    overflow: hidden
}

.project-area .project-item .thumb .wc-btn-primary {
    font-size: 14px;
    padding: 17px 26px;
    border-radius: 15px;
    background-color: var(--white);
    color: var(--black);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    margin-top: 20px
}

.project-area .project-item .thumb img {
    transition: all .5s
}

.project-area .project-content {
    padding-top: 25px
}

.project-area .project-content .title {
    font-size: 30px;
    color: var(--black);
    padding-bottom: 5px
}

@media only screen and (max-width: 767px) {
    .project-area .project-content .title {
        font-size:24px
    }
}

.dark .project-area .project-content .title {
    color: var(--white)
}

.project-area .project-content .text {
    color: var(--black-2)
}

.dark .project-area .project-content .text {
    color: var(--white-2)
}

.project-area .btn-wrap {
    text-align: center;
    padding-top: 93px
}

@media only screen and (max-width: 991px) {
    .project-area .btn-wrap {
        padding-top:43px
    }
}

.header-area {
    background-color: white;
}

.dark .header-area {
    background-color: var(--black)
}

.project-area .wc-btn-primary {
    border: 1px solid rgba(255,255,255,.12);
    color: var(--white)
}

.dark .project-area .wc-btn-primary {
    border-color: rgba(18,18,18,.1);
    color: var(--black)
}

.project-area .wc-btn-primary:hover {
    border-color: var(--white);
    background-color: var(--white);
    color: var(--black)
}

.dark .project-area .wc-btn-primary:hover {
    border-color: var(--black);
    background-color: var(--black);
    color: var(--white)
}

.wc-btn:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  