:root {
    --theme: #121212;

    .dark {
        --border: #252525;
    }
}

.section-title {
    font-size: 60px;
    margin-top: -17px;

    @media #{$xxl} {
        font-size: 60px;
        margin-top: -17px;
    }

    @media #{$xl} {
        font-size: 55px;
        margin-top: -15px;
    }

    @media #{$lg} {
        font-size: 44px;
        margin-top: -12px;
    }

    @media #{$md} {
        font-size: 40px;
        margin-top: -11px;
    }

    @media #{$sm} {
        font-size: 35px;
        margin-top: 0;
    }

    @media #{$xs} {
        font-size: 30px;
        margin-top: 0;
    }

    &.large {
        font-size: 100px;

        @media #{$xxl} {
            font-size: 80px;
        }

        @media #{$xl} {
            font-size: 70px;
        }

        @media #{$lg} {
            font-size: 60px;
        }

        @media #{$md} {
            font-size: 50px;

        }

        @media #{$sm} {
            font-size: 40px;
        }

        @media #{$xs} {
            font-size: 36px;
        }
    }
}

.section-spacing {
    padding-top: 150px;
    padding-bottom: 150px;

    @media #{$xxl} {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    @media #{$xl} {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    @media #{$lg} {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.section-spacing-top {
    padding-top: 150px;

    @media #{$xxl} {
        padding-top: 120px;
    }

    @media #{$xl} {
        padding-top: 100px;
    }

    @media #{$lg} {
        padding-top: 60px;
    }
}

.section-spacing-bottom {
    padding-bottom: 150px;

    @media #{$xxl} {
        padding-bottom: 120px;
    }

    @media #{$xl} {
        padding-bottom: 100px;
    }

    @media #{$lg} {
        padding-bottom: 60px;
    }
}

.wc-btn-primary {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0 30px 0 30px;
    padding: 22px 38px;
}



.container {
    &.large {
        @media (min-width:1800px) {
            max-width: 1750px;
        }
    }
}

/* header area style  */
.header-area {
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    width: 100%;

    &.sticky {
        background-color: var(--white);
    }

    .header-area__inner {
        display: flex;
        align-items: center;
        gap: 20px;
        position: relative;
        height: 100px;

        @media #{$xxl} {
            height: 80px;
        }

        &>*:nth-child(1) {
            margin-inline-end: auto;
        }
    }



    .header__meta {
        @media #{$xs} {
            display: none;
        }
    }


    .header__navicon {
        img {
            @include rtl {
                transform: rotateY(180deg);
            }
        }
    }


    .wc-btn-primary {
        font-weight: 500;
        padding: 12px 28px;
        border-radius: 0 20px 0 20px;


        &:hover {
            @include dark {
                color: var(--black);
            }
        }
    }

    .main-menu>ul>li:hover>a {
        color: var(--white-2);
    }
}






/* footer area style  */
.footer-area {
    background-color: var(--primary);

    @include dark {
        background-color: #1B1B1B;
    }

    &-inner {
        position: relative;
        z-index: 1;

        .shape-1 {
            position: absolute;
            top: 0;
            inset-inline-start: calc(100% - 235px);
            width: 550px;
            z-index: -1;

            @media #{$lg} {
                width: 350px;
            }

            @media #{$sm} {
                display: none;
            }

            img {
                @include rtl {
                    transform: rotateY(180deg);
                }
            }
        }
    }

    .section-title {
        font-size: 100px;
        line-height: 1;
        color: var(--white);
        margin-top: -25px;


        @media #{$xxl} {
            font-size: 100px;
            margin-top: -25px;
        }

        @media #{$lg} {
            font-size: 70px;
            margin-top: -17px;
        }

        @media #{$md} {
            font-size: 40px;
            margin-top: -9px;
        }

        @media #{$sm} {
            font-size: 35px;
            margin-top: -8px;
        }
    }


    .section-header {
        .text {
            font-size: 30px;
            line-height: 1.26;
            max-width: 850px;
            font-weight: 300;
            color: var(--white-2);

            @media #{$xxl} {
                font-size: 32px;

            }

            @media #{$lg} {
                font-size: 26px;
            }

            @media #{$sm} {
                font-size: 18px;

            }
        }

        .text-wrapper {
            margin-top: 18px;
        }
    }
}

.footer-cta {
    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding-top: 79px;
    padding-bottom: 79px;
    margin-top: 60px;
    display: grid;
    gap: 30px 120px;
    grid-template-columns: 190px 190px 1fr;

    @media #{$xxl} {
        padding-top: 59px;
        padding-bottom: 59px;
        margin-top: 50px;
    }

    @media #{$lg} {
        gap: 30px 40px;
    }

    @media #{$md} {
        grid-template-columns: 150px 150px 1fr;
    }

    @media #{$sm} {
        grid-template-columns: auto;
        padding-top: 39px;
        padding-bottom: 39px;
        margin-top: 40px;
    }

    .title {
        font-size: 20px;
        line-height: 1.5;
        color: var(--white);
    }


    .footer-nav-list {
        margin-top: 11px;

        li {
            font-size: 16px;
            line-height: 1.46;
            color: var(--white-2);
        }
    }

    .newsletter {
        border-inline-start: 1px solid rgba(255, 255, 255, 0.08);
        padding-inline-start: 108px;
        padding-top: 16px;
        padding-bottom: 39px;

        @media #{$lg} {
            padding-inline-start: 48px;
            padding-top: 6px;
            padding-bottom: 19px;
        }

        @media #{$sm} {
            padding-inline-start: 0;
            padding-top: 0;
            padding-bottom: 0;
            border-inline-start: 0;
        }

        .input-field {
            display: flex;
            gap: 10px;
            border-bottom: 1px solid var(--white);
            padding-bottom: 25px;
        }

        input {
            background: none;
            border: none;
            outline: none;
            width: 100%;
            color: var(--white);
            font-size: 24px;
            font-weight: 300;

            &::placeholder {
                color: var(--white);
            }
        }

        button {
            img {
                @include rtl {
                    transform: rotateY(180deg);
                }
            }
        }
    }

}

.copyright-area {
    &-inner {
        display: flex;
        gap: 20px 60px;
        justify-content: space-between;
        align-items: center;
        padding: 51px 0;
        border-top: 1px solid rgba(255, 255, 255, 0.08);

        @media #{$xxl} {
            padding: 35px 0;
        }

        @media #{$sm} {
            flex-direction: column;
        }
    }

    .text {
        font-size: 16px;
        line-height: 1.37;
        color: var(--white-2);

        a {
            color: var(--white);

            &:hover {
                color: var(--white-2);
            }
        }
    }


    .footer-nav-list {
        display: flex;
        gap: 10px 78px;
        flex-wrap: wrap;


        @media #{$sm} {
            gap: 10px 38px;
        }

        a {
            font-size: 16px;
            color: var(--white);

            &:hover {
                color: var(--white-2);
            }
        }
    }

}


/* faq area style  */
.faq-area {
    &-inner {
        padding-top: 217px;

        @media #{$xxl} {
            padding-top: 147px;
        }

        @media #{$lg} {
            padding-top: 127px;
        }

        @media #{$md} {
            padding-top: 127px;
        }
    }



    .section-content {
        display: grid;
        gap: 30px 60px;
        grid-template-columns: 485px 960px;

        @media #{$xxl} {
            grid-template-columns: 400px 1fr;

        }

        @media #{$lg} {
            grid-template-columns: 300px 1fr;
        }

        @media #{$md} {
            grid-template-columns: auto;
        }

        .text {
            max-width: 410px;
        }

        .text-wrapper {
            margin-top: 24px;
            margin-inline-start: 220px;

            @media #{$lg} {
                margin-inline-start: 0;
            }
        }

        .wc-btn-underline {
            max-width: 300px;
            white-space: normal;
            font-size: 18px;
            line-height: 26px;
            font-family: var(--font_beatricetrial);
            text-transform: none;
            font-weight: 400;
            gap: 40px;
            padding-top: 20px;
            padding-bottom: 0;
            color: var(--primary);

            @media #{$lg} {
                max-width: 270px;
                font-size: 16px;
                padding-top: 15px;
            }

            &:before {
                top: 0;
                height: 1px;
            }

            i {
                transform: rotate(-45deg);
                font-size: 20px;

                @include rtl {
                    transform: rotate(-135deg);
                }
            }
        }
    }

    .accordion {

        .accordion-button {
            font-size: 24px;
            line-height: 1;
            color: var(--primary);
            padding-top: 24px;
            padding-bottom: 18px;
            padding-inline-start: 0;
            padding-inline-end: 0;
            background-color: rgba(0, 0, 0, 0);
            box-shadow: none;
            text-align: start;
            font-weight: 400;

            @media #{$xl} {
                font-size: 22px;

            }

            @media #{$lg} {
                font-size: 20px;

            }

            @media #{$sm} {
                line-height: 1.2;
            }

            &::after {
                content: "+";
                color: var(--primary);
                background-image: none;
                line-height: 1;
                width: auto;
                height: auto;
                font-size: 25px;
                margin-inline-start: 50px;
                margin-inline-start: auto;
                margin-inline-end: 0;
            }

            &:not(.collapsed) {
                pointer-events: none;

                &::after {
                    content: "-";
                }
            }
        }

        .accordion-item {
            border-bottom: 1px solid var(--border);
            background-color: transparent;
            border-radius: 0px;



            &:not(:first-child) {
                margin-top: 0px;
            }

            &:first-child {
                border-top: 1px solid var(--border);

            }
        }

        .accordion-body {
            font-size: 18px;
            line-height: 1.44;
            padding-inline-start: 0px;
            padding-inline-end: 0px;
            padding-bottom: 24px;
            padding-top: 0;
            color: var(--secondary);

            @media #{$md} {
                padding-bottom: 23px;
            }
        }
    }

    .accordion-wrapper {
        margin-top: 93px;

        @media #{$xxl} {
            margin-top: 73px;

        }

        @media #{$xl} {
            margin-top: 53px;

        }

        @media #{$lg} {
            margin-top: 43px;

        }
    }
}